<div class="row">
    <mat-card class="col-10">
        <mat-card-content>
            <mat-card-title>Cadastro</mat-card-title>
    <form class="example-form" [formGroup]="formulario" (ngSubmit)="onSubmit()" >
    
        <mat-form-field appearance="outline" id="nome">
            <mat-label> Nome de usuario</mat-label>
            <input matInput placeholder="Digite seu nome de usuario" formControlName="nome">
            <mat-error>Insira o nome de usuario!</mat-error>
        
        </mat-form-field>
        <mat-form-field appearance="outline" id="email">
            <mat-label> Email </mat-label>
            <input matInput placeholder="Digite seu email" formControlName="email">
            <mat-error>Insira um email valido!</mat-error>
        
        </mat-form-field>
        <mat-form-field appearance="outline" id="nip">
            <mat-label> NIP </mat-label>
            <input matInput placeholder="Digite seu NIP." formControlName="nip">
            <mat-error>Insira um NIP valido!</mat-error>
        
        </mat-form-field>
        
        <mat-form-field appearance="outline" id="cnh">
            <mat-label> CNH </mat-label>
            <input matInput placeholder="Digite seu NIP." formControlName="cnh">
            <mat-error>Insira um CNH valido!</mat-error>
        
        </mat-form-field>

        <mat-form-field appearance="outline" id="setor">
            <mat-label> Setor </mat-label>
            <mat-select formControlName="setor">
                <mat-option *ngFor="let s of setorLista" [value]="s.desc_setor" > 
                  {{ s.desc_setor }}
                </mat-option>
            </mat-select>
        
        </mat-form-field>

        <mat-form-field appearance="outline" id="posto">
            <mat-label> Posto </mat-label>
            <mat-select formControlName="posto">
                <mat-option *ngFor="let p of postoLista" [value]="p.desc_posto" > 
                  {{ p.desc_posto }}
                </mat-option>
            </mat-select>
        
        </mat-form-field>

        <mat-form-field appearance="outline" id="cartao">
            <mat-label> Cartao </mat-label>
            <input matInput placeholder="Digite seu NIP." formControlName="cartao">
            <mat-error>Insira um cartao valido!</mat-error>
        
        </mat-form-field>
        

        
        <br>

          <!-- veiculos -->
          
        <h3><span class="title-veiculos">Veiculos</span>
            <button mat-icon-button matSuffix color="primary" (click) = "addVeiculos()">
                <mat-icon>add_circle_outline</mat-icon>
             </button>
        </h3>
          
         <div formArrayName="veiculos" *ngFor="let veiculo of veiculoFormArray.controls; let i = index">
            <hr>
            <h5 class="label-veiculos">Veiculo {{i + 1}}</h5>
            <div [formGroupName]="i">
            <mat-form-field appearance="outline" >
                <mat-label>Modelo</mat-label>
                <input matInput placeholder="Modelo do veiculo"  formControlName="modelo" >
            </mat-form-field>

            <mat-form-field appearance="outline">
                    <mat-label>montadora</mat-label>
                    <mat-select formControlName="montadora">
                            <mat-option *ngFor="let m of montadoraLista" [value]="m.desc_montadora" > 
                              {{ m.desc_montadora }}
                            </mat-option>
                    </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" >
                    <mat-label>Ano</mat-label>
                    <input matInput placeholder="Ano"  formControlName="ano" >
            </mat-form-field>

            <mat-form-field appearance="outline" >
                    <mat-label>Placa</mat-label>
                    <input matInput placeholder="Placa"  formControlName="placa" >
            </mat-form-field>

            <mat-form-field appearance="outline" >
                    <mat-label>Chassi</mat-label>
                    <input matInput placeholder="Chassi"  formControlName="chassi" >
            </mat-form-field>

            <mat-form-field appearance="outline" >
                    <mat-label>Cor</mat-label>
                    <mat-select formControlName="cor">
                            <mat-option *ngFor="let c of corLista" [value]="c.desc_cor" > 
                              {{ c.desc_cor }}
                            </mat-option>
                    </mat-select>
            </mat-form-field>


            </div>
        </div>






        <mat-card-actions>
        <button  mat-raised-button color="primary" type="submit"> Enviar </button>

        </mat-card-actions>
      </form>
      </mat-card-content>
      
    </mat-card>
</div>
  