<div class="row">
    <mat-card class="col-9">
        <mat-card-content>
            <mat-card-title>Cadastro</mat-card-title>
    <form class="example-form" >
    
        <mat-form-field appearance="outline" id="nome_usuario">
            <mat-label> Nome de usuario</mat-label>
            <input matInput placeholder="Digite seu nome de usuario" >
            <mat-error>Insira o nome de usuario!</mat-error>
        
        </mat-form-field>
    
        
        <mat-card-actions>
        <button  mat-raised-button color="primary" type="submit"> Enviar </button>

        </mat-card-actions>
      </form>
      </mat-card-content>
      
    </mat-card>
</div>
  